<div>
    <h3 class="text-2xl font-semibold mb-2">Alternatives</h3>
    <p class="text-gray-700 dark:text-gray-300">
        There are many applications that generate passphrases using Diceware, either by employing a
        <a href="https://en.wikipedia.org/wiki/Cryptographically_secure_pseudorandom_number_generator" target="_blank">Cryptographically Secure Pseudo Random Number Generator (CSPRNG)</a> or by allowing users to manually enter physical dice roll results.
    </p>
    <p class="mt-2 text-gray-700 dark:text-gray-300">
        However, I wanted to build an application that generates not only passphrases but also random strings from physical dice rolls.
    </p>

    <ul class="mt-4 list-disc list-inside text-gray-700 dark:text-gray-300">
        <li>
            <a href="https://diceware.rempe.us/" target="_blank">Diceware Rempe</a> - Supports multiple languages and allows manually entering dice rolls.
        </li>
        <li>
            <a href="https://diceware.dmuth.org/" target="_blank">Diceware Password Generator</a> - Supports only virtual dice.
        </li>
    </ul>
</div>
