---
import DiceRoll from './DiceRoll.astro';
---
<div x-data="diceRolls" class="flex-1 dice-rolls-container p-4 bg-gray-100 dark:bg-gray-900 rounded-lg shadow-inner overflow-hidden">
    <div class="flex items-center w-full mb-4">
        <h2 class="text-xl font-semibold">Dice Rolls</h2>
        <button
            type="button"
            :class="{ hidden: !useVirtualDice }"
            class="text-sm ml-2 px-2 py-1 bg-blue-500 hover:bg-blue-700 text-white rounded"
            @click="handleAllRolls($root)"
        >
            Roll All
        </button>
    </div>
    <div class="overflow-y-auto pb-8" style="height:calc(100% - 1.95em);">
        <div id="dice-rolls" class="space-y-4">
            <template x-for="roll in rolls">
                <DiceRoll />
            </template>
        </div>
    </div>
</div>

<script>
import Alpine from 'alpinejs';

document.addEventListener('alpine:init', () => {
  Alpine.data('diceRolls', () => ({
    handleAllRolls(componentRootEl) {
      componentRootEl.querySelectorAll('.roll-btn').forEach((btnEl) => {
        btnEl.click();
      });
    }
  }));
});
</script>
