---
import PassphraseForm from "./PassphraseForm.astro";
import PassphraseOutput from "./PassphraseOutput.astro";
---

<div
    :class="{ hidden: type !== 'passphrase' }"
>
    <PassphraseForm />

    <div class="mt-6">
        <PassphraseOutput />
    </div>
</div>
