<div>
    <h3 class="text-2xl font-semibold mb-2">Purpose</h3>
    <p class="mt-2 text-gray-700 dark:text-gray-300">
        This application was created to allow the generation of random strings by rolling physical dice. While simpler methods exist, such as the following NodeJS script:
        <code class="text-sm bg-gray-100 dark:bg-gray-800 px-2 py-1 rounded-md break-words">require('crypto').randomBytes(32).toString('base64');</code>, I wanted to have some fun and create a tool for manual dice rolling!
    </p>
    <p class="mt-2 text-gray-700 dark:text-gray-300">
        <a
            href="https://theworld.com/~reinhold/diceware.html">Diceware</a> is
        an excellent way to generate passphrases. It provides a fun and secure method that anyone can use, without requiring knowledge
        of cryptography or mathematics. Rather than repeat what has been said better elsewhere, let me provide some great links.

        <ul class="mt-4 list-disc list-inside text-gray-700 dark:text-gray-300">
            <li>
                <a href="https://www.eff.org/dice" target="_blank">Dice generated passphrases instructions by EFF</a>
            </li>
            <li>
                <a href="https://theworld.com/~reinhold/diceware.html" target="_blank">Original Diceware page by A G Reinhold</a>
            </li>
        </ul>
    </p>

    <p class="mt-4">(Diceware is a trademark of <a href="http://world.std.com/~reinhold/">Arnold G. Reinhold</a>)</p>
</div>
